.noexpand img{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30px;
}
.noexpand{
    background-color: black;
    border: none;
    overflow: hidden;
}
/* Personnalisations CSS (exemple) */
body {
    background-color: #212529;
}

.list-group-item {
    background-color: #343a40;
    color: #fff;
}

.badge-success {
    background-color: #28a745;
}

.badge-danger {
    background-color: #dc3545;
}
.element{
    margin-top: 10px;
    margin-left: 0;
}
.container {
    background-color: #212529; /* Fond sombre */
    color: #fff; /* Texte blanc */
  }
  
  .list-group-item {
    background-color: #343a40;
    color: #fff;
    border: none; /* Supprime les bordures par défaut */
  }
  
  .time-remaining {
    font-size: 0.8em; /* Réduit la taille de la police pour le temps restant */
  }

  .element{
    margin-top: 4px;
    border: 0.5px solid rgb(2, 2, 46);
    border-radius: 5px;
    margin-left: 0;
    padding: 20px;
    position: relative;
    background-color: black;
  }
  .badge{
    margin-right: 10px;
    position: absolute;
    right: 0;
}
/* Pour la plupart des navigateurs (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 2px; /* Largeur de la barre */
  }
  
  ::-webkit-scrollbar-track {
    background: #007bff; /* Couleur de fond du rail */
    border: none;
    border-radius: 30%;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #212529; /* Couleur du curseur (bleu primaire) */
    border-radius: 30%; /* Arrondir les coins du curseur */
  }
  
  /* Pour Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #007bff #142b44; /* Couleur du curseur et du rail */
  }
  #share{
    background-color: black;
  }

  .first{
    position: relative;
  }
  
  













  /* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
  position: absolute;
  left: 0
  ;
    width: 250px;
    max-height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.user-profile img {
    width: 100px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #e0e0e0;
}

.content {
    margin-left: 270px;
    padding: 20px;
}
#profile:hover{
    cursor: pointer;
    scale: 1.02;
    
}